@charset "utf-8";
.clearfix{display:block;}
.clearfix:after{clear:both;display:block;content:"";font-size:0;visibility:hidden}
#setting{font:14px "Microsoft Yahei";}
#setting #wrapper #header{height:80px;width:100%;background:#3d4f69;}
#setting #wrapper #header .tab_list{width:50%;margin:0 auto 0 170px;color:#fff}
#setting #wrapper #header .tab_list li{text-align:center;cursor:pointer;float:left;padding:6px 0 0;width:87px;height:64px;margin-top:10px;border-top-left-radius: 5px;border-top-right-radius: 5px;}
#setting #wrapper #header .tab_list li span{display:block;margin-top: 5px;margin-left:3px}
#setting #wrapper #header .tab_list li i{display:block;width:30px;height:30px;margin-left:27px;background:url('../images/icon_tab.png') no-repeat 0 0}
#setting #wrapper #header .tab_list li i.ibasic{background-position: 0 0}
#setting #wrapper #header .tab_list li i.iadvance{background-position: 0 -32px}
#setting #wrapper #header .tab_list li i.iabout{background-position: 0 -64px}
#setting #wrapper #header .tab_list li i.no{background-position-x: -32px}
#setting #wrapper #header .tab_list li:hover{background: #495b75;}
/*liÑ¡ÖÐÉ«*/
#setting #wrapper #header .tab_list li.selected_bg{background:#667894;}
#setting #wrapper #main{height:490px;width:100%;background:#e1ebf5;}
#setting #wrapper #main .tab_content_wrapper{height:419px;padding:10px;color:#999;background:#f9fbfc;border-bottom:1px solid #c2d7e9}
#setting #wrapper #main .person_message,#setting #wrapper #main .advance_qx,#setting #wrapper #main .file_index{border:1px solid #e1ebf5;margin-bottom:10px}
#setting #wrapper #main .tab_content,#setting #wrapper #main .advance_qx{border:1px solid #e1ebf5;border-radius: 3px;height:218px;background:#fff;padding:25px 34px;cursor:default}
#setting #wrapper #main .tab_content  li,#setting #wrapper #main .advance_qx li{margin-bottom:13px;cursor:pointer}
#setting #wrapper #main .tab_content  li i,#setting #wrapper #main .advance_qx li i{background:url('../images/checkbox.png') no-repeat 0 0;cursor:pointer;width:16px;height:16px;display:inline-block;text-decoration:none;vertical-align: middle;}
#setting #wrapper #main #footer{float:right;position:relative;right:5px;top:12px}
#setting #wrapper #main .tab_content  li i.check_icon,#setting #wrapper #main .advance_qx li i.check_icon{background-position:0 0}
#setting #wrapper #main .tab_content  li i.no_check_icon,#setting #wrapper #main .advance_qx li i.no_check_icon{background-position:-48px 0}
#footer .purple_btn{background:#6185BC;border-color:transparent}
#footer button{width:82px}


#setting #wrapper #main .userImg{padding:25px 34px;background:#fff;margin-bottom:10px;border-radius: 3px}
#setting #wrapper #main .userImg .img_info{height:70px;width:70px;border-radius: 50%;display: block}
#setting #wrapper #main .userImg div.img_mes_info{padding-left:90px;cursor:default}
#setting #wrapper #main .userImg div.img_mes_info div{margin-bottom:15px;}
#setting #wrapper #main .userImg div.img_mes_info div span{color:#6185BC}
#setting #wrapper #main .userImg div.img_mes_info .edit_btn{margin-left:40px;padding:4px 6px}
#setting #wrapper #main .advance{padding-top:16px}
#setting #wrapper #main .file_index{padding:25px 35px;background:#fff;cursor: default}
#setting #wrapper #main .file_index span{font-size:15px;color:#6185BC;display: block;height:25px;line-height:25px}
#setting #wrapper #main .file_index input{margin-right:6px;width:348px;border:1px solid #C2CBD3;box-shadow:inset 0 1px 2px #C2CBD3;border-radius:5px;height:24px;line-height: 24px;display:inline-block}
#setting #wrapper #main .file_index button.move{width:58px}
#setting #wrapper #main .file_index div:nth-child(1) span{color:#6185BC;font-size:15px;display:block;height:25px;line-height:25px;}
#setting #wrapper #main #sx{color:#999;font-size:13px;}
#setting #wrapper #main .advance div.link_c{margin:30px 0}
/*#settingsMes div{margin-bottom:15px}*/
#settingsMes button{width:98px;padding:8px 14px}
#settingsMes .textMes{padding-left:115px}

#setting #wrapper #main .about{text-align:center}
#setting #wrapper #main .about img{margin-top: 45px}
#setting #wrapper #main .about h2{margin-top:20px}
#setting #wrapper #main .about .mess{margin-top: 25px}
#setting #wrapper #main .about .mess h3{color:#6185BC}